#test {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
#listePilote
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.draggable
{
    padding: 1rem;
    background-color: #F1F1F1;
    border: 1px solid red;
    cursor: move;
    text-align: center;
}

.draggable.dragging
{
    opacity: .3;
}

#listeCircuits
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.annee-list
{
    margin-bottom: 7px;
}

.year-button
{
    height: 40px;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-pilote, .table-constructeur
{
    display: table;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.center-title
{
    text-align: center;
}

.points-red
{
    color:red;
}

.center-cell
{
    text-align: center;
}
