#classement {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
#listePilote
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#divPrognosis
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.draggable
{
    padding: 1rem;
    background-color: #F1F1F1;
    border: 1px solid red;
    cursor: grab;
    text-align: center;
}

.draggable.dragging
{
    opacity: .3;
}

#listeCircuits
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.bouton {
    padding: 15px 10px;
    background-color: red;
    color: #F1F1F1;
    border: none;
    border-radius: 10px;
}

#boutonPronostic
{
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
} 


.annee-list
{
    margin-bottom: 7px;
}

.year-button
{
    height: 40px;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-pilote, .table-constructeur, .table-joueur
{
    display: table;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

#tableJoueur
{
    text-align: center;
}

#tablePilote, #tableConstructeur, #tableJoueur
{
    display: table;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.center-title
{
    text-align: center;
}

.points-red
{
    color:red;
}

.center-cell
{
    text-align: center;
}
