
.list
{
    width: 1100px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.entire-team
{
    box-sizing: border-box;
    padding: 20px;
    display: table;
    width: 500px;
    margin-bottom: 30px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 10px 0 0;
}

.AMG:hover
{
    border-color: #00D2BE;
}

.SDF:hover
{
    border-color: #DC0000;
}

.RDB:hover
{
    border-color: #0600EF;
}

.MCL:hover
{
    border-color: #FF8700;
}

.REN:hover
{
    border-color: #FFF500;
}

.AFR:hover
{
    border-color: #960000;
}

.RPO:hover
{
    border-color: #F596C8;
}

.SAT:hover
{
    border-color: #FFFFFF;
}

.HAS:hover
{
    border-color: #787878;
}

.WIL:hover
{
    border-color: #0082FA;
}


.constructeurImg
{
    width: 100%;
}

.constructeur-info
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.constructeur
{
    font-weight: bold;
}
.monoplace
{
    font-style: italic;
}
.constructeur-nom
{
    font-size: 20px;
}

.constructeur-logo
{
    height: 40px;
}

.pilotes
{
    display: flex;
    justify-content: space-evenly;
}

.pilote-nom
{
    text-align: center;
}

.pilotesImg
{
    height: 150px;
    width: auto;
}

.grid-margin-top
{
    margin-top: 50px;
}

/*******************/
/* DRIVER          */
/*******************/
.entire-driver
{
    display: table;
    padding: 10px;
    box-sizing: border-box;
    width: 500px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 10px 0 0;
    margin-bottom: 20px;
}

.pilotes-nom
{
    font-size: 30px;
}

.team-number
{
    display: inline;
    margin-left: 111px;
}

.pilote-info-photo
{
    display: flex;
    justify-content: space-between;
}

.numero
{
    font-size: 50px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.num-AMG
{
    color: #00D2BE;
}

.num-SDF
{
    color: #DC0000;
}

.num-RDB
{
    color: #0600EF;
}

.num-MCL
{
    color: #FF8700;
}

.num-REN
{
    color: #FFF500;
}

.num-AFR
{
    color: #960000;
}

.num-RPO
{
    color: #F596C8;
}

.num-SAT
{
    color: #FFFFFF;
}

.num-HAS
{
    color: #787878;
}

.num-WIL
{
    color: #0082FA;
}
