.formulaire {
    text-align: center;
    display: table;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    width: 500px;
}

.form-margin-top
{
    margin-top: 25px;
}

.formulaire .form-width
{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.titre {
    text-align: center;
    font-size: 30px;
}

#formInscription {
    margin-bottom: 10px;
}

.saisie {
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
    background-color: transparent;
    outline: none;
    color: black;
    width: 200px;
    height: 30px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

::placeholder {
    text-align: center;
    color: rgb(131, 2, 13);
    opacity: 0.6;
}



.formulaire .bouton
{
    margin-top: 25px;
}

#accept-term-container
{
    display: flex;
    cursor: pointer;
    width: 510px;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}



#accept-terms
{
    display: none;
}

#accept-term-container .helmet-checkbox
{
    width: 25px;
}

.helmet-checkbox #visiere
{
    transform: rotate(-10deg) translate(-50px, 0);
    transition-duration: 313ms;
}

#accept-terms:checked ~ .helmet-checkbox #visiere
{
    transform: rotate(0) translate(0, 0);
}

.is-error
{
    border-color: red;
}

#profil
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}


#editerProfil
{
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#profil h1
{
    text-align: center;
}
