body,
h1,
ul,
li,
div,
a,
span,
h2,
h3 {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial;
}


h1 {
    font-style: oblique;
    font-size: 32px;
    font-family: arial;
    letter-spacing: 1px;
    color: darkgrey;
    text-align: center;
}

form {
    display: table;
    padding: 30px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.couple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.couple input {
    padding: 5px;
    width: 180px;
    height: 24px;
}

#all {
    width: 100%;
    min-height: 100%;
    display: table;
}

#button-id {
    display: block;
    padding: 15px 10px;
    font-size: 15px;
    background-color: darkgrey;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}